# Delphi / Lazarus temporary and compilation files
*.dcu
*.ddp
*.local
*.identcache
*.projdata
*.tvsconfig
*.~*
__recovery/
bin/
lib/
backup/
*.o
*.ppu
*.compiled
*.exe
dunitx-results.xml
*.or
tests/Tests
samples/Console
boss-lock.json
modules/
test-bin/
